/* ====-------------====
   Whitespace Reset
   ====-------------==== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
 display: block;
}
body {
 line-height: 1;
}
ol, ul {
 list-style: none;
}
blockquote, q {
 quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
 content: '';
 content: none;
}
table {
 border-collapse: collapse;
 border-spacing: 0;
}

/* ====-------------====
   Main Styles
   ====-------------==== */

body {
  background: #afa;
  font: normal 14px Helvetica, Arial, sans-serif;
}

main {
  background: #fff;
  margin: 10px auto;
  padding: 25px;
  width: 700px;
}

#screen {
  position: relative;
  background: #aaf;
  width: 700px;
  height: 500px;
  margin: 0 auto 25px auto;
}

.shape {
  z-index: 1;
  width: 30px;
  height: 30px;
  position: absolute;
  background: #dde338;
}

.circle {
  border-radius: 100%
}

.star {
  background: transparent url("star.png");
  background-size: 100% auto;
}

#controls {
  margin: 0 0 25px 0;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  margin: 0 0 15px 0;
}

dt, h2 {
  font-size: 1.2em;
  margin: 10px 0 5px 0;
}

input[type="submit"] {
  margin: 20px 0 0 0;
}
